<p>First Name: <%= @order.first_name() %></p>
<p>Last Name: <%= @order.last_name() %></p>
<p>Ropping: <%= @order.topping %></p>
<p>Quantity: <%= @order.quantity %></p>
<p>Total:£<%=@order.total() %></p>
